# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

#custom ignore files

dataset_wise_results/

to_do.txt

src/utils/

custom.py

junk.py